name: tests

on:
  push:
    branches:
      - develop
      - main
      - master
      - workos
  pull_request:
    branches:
      - develop
      - main
      - master
      - workos

jobs:
  ci:
    runs-on: ubuntu-latest
    # environment: Testing   ← این خط رو کامنت کن یا حذف کن
    strategy:
      matrix:
        php-version: ['8.4', '8.5']
    steps:
      # ... بقیه steps بدون تغییر